<div class="flex justify-center items-center bg-gray-200">
  <div class="w-full max-w-2xl bg-white my-4 px-10 py-6 rounded-lg shadow-md">
    <div class="mb-4">
      <h1 class="text-xl font-bold mb-4 text-center">
        <%= @article.title %>
      </h1>

      <div class="flex mb-4">
        <% if @article.image.present? %>
          <div class="w-2/5 mr-4">
            <%= image_tag(@article.image_as_thumbnail, class: "block w-full h-full object-cover rounded") %>
          </div>
        <% end %>
        <div class="w-3/5">
          <%= @article.body %>
        </div>
      </div>
      
        <div class="swiper mySwiper mb-4">
          <div class="swiper-wrapper">
            <% @article.pictures.each do |picture| %>
              <div class="swiper-slide flex justify-center items-center text-center text-lg bg-white">
                <%= image_tag(picture, class: "block w-full h-full object-cover") %>
              </div>
            <% end %>
            
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </div>

      <p class="text-gray-700 my-2">
        <%= @article.description %>
      </p>
    </div>

    <div class="mb-4">
      <h2 class="text-xl font-bold">Comments:</h2>
      <%= render @article.comments %>
    </div>

    <div class="mb-4">
      <h2 class="text-xl font-bold mb-2">Add a Comment:</h2>
      <%= render 'comments/form' %>
    </div>

    <div class="text-center mt-6">
      <%= link_to "Back to home", root_path, class:"text-blue-600 border-b-2 border-transparent hover:border-blue-600" %>
    </div>
  </div>
</div>

<script>
  document.addEventListener("turbo:load", () => {
    var swiper = new Swiper(".mySwiper", {
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
      loop: true,
    });
  });
</script>
