<div>
  <%= link_to "articles index", "/articles" %>
</div>
<div>
  <%= link_to "first article", "/articles/first" %>
<div>
  <% @articles.each do |article| %>
    <br>
    <div class="border p-1 rounded">
      <%= link_to "Show article #{article.id}", "/articles/#{article.id}" %>
      <%= link_to "Edit Article #{article.id}", "/articles/#{article.id}/edit"%>
      <%= link_to "Delete Article #{article.id}", "/articles/#{article.id}", data: { turbo_method: :delete, turbo_confirm: 'Are you sure?'}%>
    </div> 
  <% end %>
</div>
<br>
<div>
  <%= link_to "Create an Article", "/articles/new" %>
</div>
