<div>
  <%= link_to "articles index", "/articles" %>
</div>
<div>
  <%= link_to "first article", "/articles/first" %>
</div>
<div>
  <% @articles.each do |article| %>
    <br>
    <div class="border p-1 rounded">
      <%= link_to "Show article #{article.id}", "/articles/#{article.id}" %>
      <% if article.user == current_user %>
        <%= link_to "Edit Article #{article.id}", "/articles/#{article.id}/edit"%>
        <%= link_to "Delete Article #{article.id}", "/articles/#{article.id}", data: { turbo_method: :delete, turbo_confirm: 'Are you sure?'}%>
      <% end %>
    </div> 
  <% end %>
</div>

<br>

<div>
  <%= link_to "Create an Article", "/articles/new" %>
</div>

<br>

<div>
  <div>
    <% if current_user %> 
      <%= link_to "Sign Out", destroy_user_session_path,  data: {turbo_method: :delete}, class: "text-blue-600" %>
    <% else %>
      <%= link_to "Get Started", new_user_registration_path, class: "text-blue-600" %>
      |
      <%= link_to "Sign In", new_user_session_path, class: "text-blue-600" %> <%# /users/sign_in %> 
    <% end %>
  </div>
</div>
