<div class="mt-6 ml-44 mr-80 px-8 py-8 bg-gray-200 shadow-2xl rounded-xl">
  <h2 class="text-2xl font-bold mb-4">Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="mb-4">
      <%= f.label :email, class:"text-gray-700 font-bold mb-2" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "border-2 border-gray-500 rounded w-full py-2 px-3 text-gray-700 focus:outline-none bg-gray-200" %>
    </div>

    <div class="mb-4">
      <%= f.label :password, class:"text-gray-700 font-bold mb-2" %>
      <%= f.password_field :password, autocomplete: "current-password", class: "border-2 border-gray-500 rounded w-full py-2 px-3 text-gray-700 focus:outline-none bg-gray-200" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="mb-4 text-gray-700 font-bold mb-2" >
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="flex">
      <div class= "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none mr-3" >
        <%= f.submit "Log in"%>
      </div>
      
      <div class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none ">
        <%= link_to "Sign up", new_registration_path(resource_name)%>
      </div>

      <div class="text-blue-500 hover:text-blue-700 font-bold py-2 px-4" >
        <%= link_to "Forgot password?", new_password_path(resource_name)%>
      </div>
    
    </div>
  <% end %>
  <div class="my-4 text-blue-600 border text-md">
    <%= link_to "Back to home", root_path %>
  </div>
</div>