<!DOCTYPE html>
<html>
  <head>
    <title>ArticlesApplication</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <%= render 'pages/navbar'%>
    <% flash.each do |type,msg| %>
      <div id="flash-container" class="fixed top-0 w-full flex justify-center">
        <div id="flash" class="flash <%= type == 'alert' ? 'bg-red-600/75 px-2 py-2' : 'bg-green-600/75 px-2 py-2' %>">
          <%= msg %>
          <button class="text-black-600 font-bold rounded-full bg-white w-6 h-6">x</button>
        </div>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
